<table class="table table-striped">
  <tr>
    <th><%= t('test_passages.gist.question') %></th>
    <th><%= t('test_passages.gist.link') %></th>
    <th><%= t('test_passages.gist.user') %></th>
  </tr>

  <%= render @gists %>
</table>
