<table class="table table-striped">
  <tr>
    <th><%= t('admin.gists.question') %></th>
    <th><%= t('admin.gists.link') %></th>
    <th><%= t('admin.gists.user') %></th>
    <th></th>
  </tr>

  <%= render @gists %>
</table>
