<% if resource.errors.any? %>
  <h2>Количество ошибок: [<%=  resource.errors.count %>]</h2>
  <ul>
    <% resource.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>

