<h1>Все тесты</h1>

<p><%= link_to 'Создать тест', new_test_path %></p>
<table border="1">
  <thead>
    <tr>
      <th>Название</th>
      <th>Уровень</th>
      <th>Кол-во вопросов</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 <tbody>
  <%= render @tests %>
 </tbody>
</table>

