<h4>Система тестирования пользователей - <%= github_url('realvint', 'test-guru') %></h4>
<p>Учебный проект школы
  <a target="_blank" href="https://www.thinknetica.com">Thinknetica</a>
  в рамках обучения профессии <b>Ruby on Rails developer</b>
</p>
<h4>Автор проекта - Малухин Виктор</h4>
<%= mail_to "victor.malukhin@gmail.com" %>
<%= full_year %>